In [1]:
import os
import glob
import pandas as pd
import numpy as np
from tqdm import tqdm
import random

In [2]:
def list_subdirectory(directory, pattern='*'):
    # 使用 glob 模組列出資料夾中符合模式的檔案
    files = glob.glob(os.path.join(directory, pattern))
    return files

In [3]:
parent_folder = "/home/namwoam/nas/homes/namwoam_data/bda-final/behavior"
target_folder = list_subdirectory(parent_folder)[0]
print(target_folder)

/home/namwoam/nas/homes/namwoam_data/bda-final/behavior/2023-10

In [4]:
files = list_subdirectory(target_folder)
print("csv file count:", len(files))
# files = files[:20]
print("sampled file count:", len(files))

csv file count: 253
sampled file count: 253

In [5]:
chunks = []
for file in tqdm(files, desc="Read csv files"):
    tmp_df = pd.read_csv(file)
    chunks.append(tmp_df)
df = pd.concat(chunks)
print("Dataset column count:", len(df.index))
df.head()

Read csv files:   0%|          | 0/253 [00:00<?, ?it/s]

Read csv files:   6%|▌         | 14/253 [00:13<03:59,  1.00s/it]/tmp/ipykernel_522041/1558997861.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  tmp_df = pd.read_csv(file)
Read csv files: 100%|██████████| 253/253 [04:21<00:00,  1.03s/it]

Dataset column count: 25216613

,Tunnel,Device,ShopId,ShopMemberId,FullvisitorId,DeviceId,HitTime,Behavior,RegisterTunnel,CategoryId,...,UnitPrice,Qty,TotalSalesAmount,TradesGroupCode,SearchTerm,ContentType,ContentName,ContentId,PageType,EventTime
0,App,Android APP,NOmceSRCGAE2GjCOCwaCrA==,TisggK99g9VoSBNxuQC3diInFh33XejoUXfzsEtrAqg=,EnnzFYKeLfp1RHP344a7B3++rvhlJqFYUZr1ck2UmqcLBL...,6B3GoFW8TK08JG83znJud1QA2RI+wvv20JsAvN8Hw7RfwM...,2023-10-02 21:55:28.934,viewecoupondetail,NaN,596196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-02 22:00:32.118
1,App,Android APP,NOmceSRCGAE2GjCOCwaCrA==,1WY6oaz7DhmzKYzSRoILK2Prtr9v4VxTLnt5DQDzERo=,05FPUeiFfgpwKjL+Vc0yVBhYqyXES673MM5J2B9XeUgVFU...,YNBOrkFSczZ1BKAHzCuwurubGPu8dE3ixZRjuJIXgQjQ1s...,2023-10-17 18:00:33.433,viewecoupondetail,NaN,603543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-17 18:00:40.580
2,App,iOS APP,NOmceSRCGAE2GjCOCwaCrA==,gJj5tvejNHJerW6ETcC91mXFb8/YN29acBAUECv00sc=,RwfKpbBk4/3lo8PSB6CTsNR5graqN/d1HNSGYY2mHbb1Wv...,8tkNBZ43pne3jL5o5lqnJmZO20yby2yP5SfGb9nnhZUhyc...,2023-10-29 18:02:39.101,viewecoupondetail,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-29 18:02:54.864
3,App,iOS APP,NOmceSRCGAE2GjCOCwaCrA==,NaN,FX6eNjJpkak9+f+iaPzPw/tYD7yAqZzjW2UJ2X7nUqCoa3...,lb1EFf3R4NSQjpYFVazZvp+6EmcpIrTcwStUNgyOnbPCm4...,2023-10-09 14:09:57.471,viewecoupondetail,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-09 14:10:27.681
4,App,Android APP,NOmceSRCGAE2GjCOCwaCrA==,k5FicMluO0vFxdwFQo8ZKe3SGpHp000nUGvOs4DLBtQ=,QwogiUD+jY7zV/83YaP1fZJEQXEnHU1ylMatUSaXxS9cIC...,HHvMq/6zPyguMJwmhCZdj8C3j2nZrFkiYUZoAbiovCM4Lf...,2023-10-18 10:28:50.539,viewecoupondetail,NaN,603549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-18 10:28:54.691

# Important: Sort actions by userID -> ShopID -> EventTime

In [6]:
df = df.sort_values(by=['FullvisitorId', "ShopId", 'EventTime'])
df.head()

,Tunnel,Device,ShopId,ShopMemberId,FullvisitorId,DeviceId,HitTime,Behavior,RegisterTunnel,CategoryId,...,UnitPrice,Qty,TotalSalesAmount,TradesGroupCode,SearchTerm,ContentType,ContentName,ContentId,PageType,EventTime
53162,Web,Desktop,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,/7nPCvG04DBRZpEpFIwnoqGSGfBKUhkxfQHvWEFY0WNVhk...,2023-10-29 15:28:34.481,viewproduct,NaN,NaN,...,179.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-29 15:28:34.481
24756,Web,Desktop,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,/7nPCvG04DBRZpEpFIwnoqGSGfBKUhkxfQHvWEFY0WNVhk...,2023-10-29 15:28:34.481,viewproduct,NaN,NaN,...,127.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-29 15:28:36.509
98306,Web,Desktop,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,/7nPCvG04DBRZpEpFIwnoqGSGfBKUhkxfQHvWEFY0WNVhk...,2023-10-29 15:28:34.481,viewproduct,NaN,NaN,...,89.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-29 15:28:51.468
60161,Web,Desktop,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,/7nPCvG04DBRZpEpFIwnoqGSGfBKUhkxfQHvWEFY0WNVhk...,2023-10-29 15:28:34.481,viewproduct,NaN,NaN,...,89.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-29 15:30:43.678
76109,Web,MobileWeb,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++Ku5bO4iMv7JScLVS1k8IhS1hzRb3KsTsN04BMXHP7cs...,QibGVr2BDAEHXGaUb1S8MDgldPVvSmamzcdESu4Q5Ivq+1...,2023-10-10 20:42:33.435,viewproduct,NaN,NaN,...,339.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-10 20:42:33.435

In [7]:
df['EventTime'] = pd.to_datetime(df['EventTime'])
df = df.drop(columns=['Tunnel', 'Device', 'DeviceId', 'RegisterTunnel',
                      'SearchTerm', 'ContentType', 'ContentName', 'ContentId'])
df.head()

,ShopId,ShopMemberId,FullvisitorId,HitTime,Behavior,CategoryId,SalePageId,UnitPrice,Qty,TotalSalesAmount,TradesGroupCode,PageType,EventTime
53162,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,2023-10-29 15:28:34.481,viewproduct,NaN,9143265.0,179.0,1.0,NaN,NaN,NaN,2023-10-29 15:28:34.481
24756,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,2023-10-29 15:28:34.481,viewproduct,NaN,9195382.0,127.0,1.0,NaN,NaN,NaN,2023-10-29 15:28:36.509
98306,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,2023-10-29 15:28:34.481,viewproduct,NaN,8803802.0,89.0,1.0,NaN,NaN,NaN,2023-10-29 15:28:51.468
60161,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++KIzksFas3DZGdq0VOnaEdUmKGVzXyFNq1dSotrBhLx5...,2023-10-29 15:28:34.481,viewproduct,NaN,8803798.0,89.0,1.0,NaN,NaN,NaN,2023-10-29 15:30:43.678
76109,NOmceSRCGAE2GjCOCwaCrA==,NaN,+++Ku5bO4iMv7JScLVS1k8IhS1hzRb3KsTsN04BMXHP7cs...,2023-10-10 20:42:33.435,viewproduct,NaN,7599983.0,339.0,1.0,NaN,NaN,NaN,2023-10-10 20:42:33.435

# Function to convert action data into sessions

In [8]:
def calculate_time_to_checkout(df: pd.DataFrame):
    first_action_time = None
    current_user = None
    actions_in_interval = []
    intervals = []
    for _, row in tqdm(df.iterrows(), total=len(df.index),  desc="Parsing user behavior df"):
        if current_user is None or current_user != row['FullvisitorId']:
            current_user = row['FullvisitorId']
            actions_in_interval = []
            first_action_time = None
        if row['Behavior'] == 'purchase':
            if first_action_time:
                # record datapoint
                interval = row['EventTime'] - first_action_time
                intervals.append({
                    'customer_id': row['FullvisitorId'],
                    'actions': actions_in_interval.copy(),
                    'start_time': first_action_time,
                    'end_time': row['EventTime'],
                    'time_to_checkout': interval,
                    'trade_order': row['TradesGroupCode']
                })
            # renew first action
            first_action_time = row['EventTime']
            actions_in_interval = []
        else:
            if not first_action_time:
                first_action_time = row['EventTime']
            actions_in_interval.append(row['Behavior'])

    return pd.DataFrame(intervals)

In [9]:
interval_df = calculate_time_to_checkout(df)
interval_df.head()

Parsing user behavior df:   0%|          | 0/25216613 [00:00<?, ?it/s]

Parsing user behavior df: 100%|██████████| 25216613/25216613 [17:22<00:00, 24180.37it/s]

,customer_id,actions,start_time,end_time,time_to_checkout,trade_order
0,++2zeaFx0ku6BVmoPrul6jYI0HWXWIq/ZZvT+tNNtKX66B...,"[viewmainpage, viewmainpage, selectcontent, vi...",2023-10-10 14:26:07.546,2023-10-11 09:45:41.725,0 days 19:19:34.179000,ybo/HZA5dh8Z5lNbvB3Bvw==
1,++2zeaFx0ku6BVmoPrul6jYI0HWXWIq/ZZvT+tNNtKX66B...,[],2023-10-11 09:45:41.725,2023-10-11 09:45:41.725,0 days 00:00:00,ybo/HZA5dh8Z5lNbvB3Bvw==
2,++2zeaFx0ku6BVmoPrul6jYI0HWXWIq/ZZvT+tNNtKX66B...,[],2023-10-11 09:45:41.725,2023-10-11 09:45:41.725,0 days 00:00:00,ybo/HZA5dh8Z5lNbvB3Bvw==
3,++2zeaFx0ku6BVmoPrul6jYI0HWXWIq/ZZvT+tNNtKX66B...,[],2023-10-11 09:45:41.725,2023-10-11 09:45:41.725,0 days 00:00:00,ybo/HZA5dh8Z5lNbvB3Bvw==
4,++2zeaFx0ku6BVmoPrul6jYI0HWXWIq/ZZvT+tNNtKX66B...,[],2023-10-11 09:45:41.725,2023-10-11 09:45:41.725,0 days 00:00:00,ybo/HZA5dh8Z5lNbvB3Bvw==

# Label users with hesitate / non-hesitate

In [16]:
from datetime import timedelta


def post_process(df):
    df = df[df['time_to_checkout'] > timedelta(minutes=1)]
    mean_time = df['time_to_checkout'].mean()
    std_err = df["time_to_checkout"].std()
    df['hesitate'] = (df['time_to_checkout'] >
                      mean_time + 1*std_err).astype(int)
    return df

In [17]:
result_df = post_process(interval_df)
result_df.head()

/tmp/ipykernel_522041/1710813567.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hesitate'] = (df['time_to_checkout'] >

,customer_id,actions,start_time,end_time,time_to_checkout,trade_order,hesitate
0,++2zeaFx0ku6BVmoPrul6jYI0HWXWIq/ZZvT+tNNtKX66B...,"[viewmainpage, viewmainpage, selectcontent, vi...",2023-10-10 14:26:07.546,2023-10-11 09:45:41.725,0 days 19:19:34.179000,ybo/HZA5dh8Z5lNbvB3Bvw==,0
5,++3PkM5EUwks6JiI4er8ae7xOjBmP7hcRsBkbdFtodN+YI...,"[viewmainpage, viewmainpage, selectcontent, se...",2023-10-12 22:13:58.001,2023-10-12 22:22:52.295,0 days 00:08:54.294000,+/QxHhxQwQZ5bsd+9xMIhQ==,0
10,++QZAN6YFZwgP6lpxxy5F/5lgowHqpu1rBpaR7NlZtROjY...,"[viewmainpage, selectcontent, viewmainpage, se...",2023-10-12 15:26:10.577,2023-10-13 21:57:57.278,1 days 06:31:46.701000,KDcZFvHQdaIrAv/zSdMAUw==,0
14,++c39Ct12j1d9kxneNe/hqfZu0Sgv0Q1sMOuk/S7YMefYb...,"[viewmainpage, selectcontent, viewcustompage, ...",2023-10-11 00:59:47.652,2023-10-11 01:19:02.542,0 days 00:19:14.890000,nuASYFpXipf1DwjEKoOTBQ==,0
17,++c39Ct12j1d9kxneNe/hqfZu0Sgv0Q1sMOuk/S7YMefYb...,"[viewmainpage, selectcontent, viewmainpage, se...",2023-10-11 01:19:02.542,2023-10-14 20:34:24.110,3 days 19:15:21.568000,hakVAD9yC0irQY94TY/6cA==,0

In [18]:
print("All purchase actions:", len(result_df.index))
print("Hesitate purchase actions:", len(result_df[result_df["hesitate"] == 1]))
print("Percentage:", len(
    result_df[result_df["hesitate"] == 1])/len(result_df.index))

All purchase actions: 36469
Hesitate purchase actions: 5702
Percentage: 0.15635197016644273

In [19]:
result_df.to_csv("./dataset.csv")